{% extends 'base.html.twig' %}

{% block title 'Ajouter un poète' %}

{% block body %}

  <h1>Ajouter un poète</h1>

  <div>{{ form(myForm) }}</div>

  <div {{ react_component('Button', {'url': path('app_home'), 'text': 'Retour'})}}></div>

{% endblock body %}
