{% extends 'base.html.twig' %}

{% block title poet.fullName %}

{% block body %}

  <section class="px-6 py-4">
    <h1>{{poet.fullName}}</h1>
    <p>{{poet.description}}</p>
  <div {{ react_component('Button', {'url': path('app_home'), 'text': 'Retour'})}}></div>
  </section>


{% endblock %}